.message {
    display: flex;
    align-items: center;
    padding: 20px;

}

.message > img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.message__info {
    margin-left: 15px;
}

.message__timestamp {
    margin-left: 15px;
    color: gray;
    font-weight: 300;
}